<div class="row">
  <div class="small-6 large-centered columns">
    <h1>RESUME KAIZEN</h1>
  	<p class="lead">A resume reviewing service</p>
  	<%= link_to 'Sign up Today', new_user_registration_path, class: "button" %>
  </div>
</div>
