<div class="row">
  <% if user_signed_in? %>
		<div class="small-6 large-centered columns">
		<h1>Welcome back!</h1>
		</div>
  <% else %>
    <div class="small-6 large-centered columns">
    <h1>RESUME KAIZEN</h1>
  	<p class="lead">A resume reviewing service</p>
  	<%= link_to 'Sign up Today', new_user_registration_path, class: "button" %>
  </div>
  <% end %>
</div>
