<div class="container">
  <div class="span6">
    <h1>RESUME KAIZEN</h1>
      <p class="lead">A resume reviewing service</p>
      <%= link_to 'Sign up Today', new_user_registration_path, class: "btn btn-large btn-success" %>
  </div>
</div>
