<div class="container">
  <div class="span6">
    <h1>RESUME KAIZEN</h1>
      <p class="lead">A resume reviewing service</p>
      <a class="btn btn-large btn-success" href="#">Sign up today</a>
  </div>
</div>
