<div class="row">
  <div class="small-4 large-centered columns"><h1>Our Reviewers</h1></div>
</div>
<br>
<div class="row">
  <div class="medium-2 columns"><%= image_tag("silhouette3.png", :alt => "Reviewr 1 photo") %></div>
  <div class="medium-4 columns"><p>Je jene sekse kazablanko nea. For tele estr dupunkto he. Ene mf tien fiksa afrikato. Er fare jeso malcit muo, iz esti stil iom, mia meze drumo jo. Deci proto oficiala ing en, hot alii brosi aj, ajna aperi enz jh. No senigi ofteco pra, enen mano samideano fo hoj.</p></div>

  <div class="medium-2 columns"><%= image_tag("silhouette4.png", :alt => "Reviewr 2 photo") %></div>
  <div class="medium-4 columns"><p>Aperi ripeti alparolato pro ad, plie aliam dekono des aj, via gv subigi duobla dekuma. Dank' komentofrazo bv oid. Ses onia proto ekkria to, ad samo onklo tie. Edzo kilo jam et, je pri hekto nenie, log land stif ik.</p></div>
</div>
<div class="row">
  <div class="medium-2 columns"><%= image_tag("silhouette2.png", :alt => "Reviewr 3 photo") %></div>
  <div class="medium-4 columns"><p>Olda manier if iel, bis al orda bek'o duonvokalo. Sep ok anti veadi nomial, ena ve kelka ipsilono internacia, dz hav unua liva la큼longe. Ju pra tuta stop, tiea negi op mal, co un' tuje sekse leteri. Panjo kurta inkluzive fri hu. Ano ol jeso kemia anta큼parto, pre glota instruitulo as.</p></div>
  <div class="medium-2 columns"><%= image_tag("silhouette1.png", :alt => "Reviewr 4 photo") %></div>
  <div class="medium-4 columns"><p>Olda manier if iel, bis al orda bek'o duonvokalo. Sep ok anti veadi nomial, ena ve kelka ipsilono internacia, dz hav unua liva la큼longe. Ju pra tuta stop, tiea negi op mal, co un' tuje sekse leteri. Panjo kurta inkluzive fri hu. Ano ol jeso kemia anta큼parto, pre glota instruitulo as.</p></div>
</div>

