<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New resume "<%= @resume.name %>"</h1>
    <p>
      <%= link_to "Download Resume", @resume.file_url %>
    </p>
    <p>
      <%= link_to "View Resume on site", resume_url(@resume) %>
    </p>
  </body>
</html>
