<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New resume "<%= @resume.name %>"</h1>
    <p>
      <%= @resume.body %>
    </p>
    <p>
      <%= link_to "Download", resume.download_url(@resume}") %>
    </p>
  </body>
</html>


#not finished
