<h1>Listing reviewer_resumes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reviewer_resumes.each do |reviewer_resume| %>
      <tr>
        <td><%= link_to 'Show', reviewer_resume %></td>
        <td><%= link_to 'Edit', edit_reviewer_resume_path(reviewer_resume) %></td>
        <td><%= link_to 'Destroy', reviewer_resume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reviewer resume', new_reviewer_resume_path %>
