<h1>My resumes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Reviewer Name</th>
      <th>Date uploaded</th>
      <th>Download link</th>
      <th>Delete link</th>
    </tr>
  </thead>

  <tbody>
  <% @resumes.keys.each do |key| %>
    <% @resumes[key].each do |resume| %>
        <tr>
          <td><%= resume.created_at %></td>
          <td><%= link_to 'Download Resume', resume.file_url, class: "btn btn-info" %></td>
          <td><%= link_to 'Destroy', resume, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Upload another resume', new_submitter_resume_path %>
